main {
	section.specialProduct {
		.group2 {
			z-index: 1;
		}
		.group2::after {
			content: "";
			position: absolute;
			width: 500px;
			height: 500px;
			background-color: #d9d9d9;
			opacity: 30%;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			filter: blur(80px);
			z-index: -1;
		}
	}

	section.newArrival {
		.group1 {
			background-image: url(../src/images/ps5Slim.png);
		}
		.group2 {
			.subGroup1 {
				/* width: 570px; */
				height: 250px;
				background-image: url(../src/images/womanWearingHat.png);
			}
			.subGroup2 {
				.grp1 {
					background-image: url(../src/images/alexa.png);
					/* width: 270px; */
					height: 255px;
					background-clip: border-box;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
				}
				.grp2 {
					background-image: url(../src/images/perfume.png);
					/* width: 270px; */
					height: 255px;
					background-clip: border-box;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	main {
		section.specialProduct {
			.group2::after {
				width: 300px;
				height: 300px;
			}
		}
	}
}
